@import '/src/style/elementColors';

.fullDataText {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 15px;

  div {
    margin-bottom: 15px;
  }

  div:first-child {
    margin-right: auto;
  }

  div:last-child {
    margin: 0 auto;

    .negative {
      color: red;
    }

    .positive {
      color: green;
    }

    .negative svg, .positive svg {
      height: 1.4rem;
      animation: arrowJumping 3s infinite;
      transform-origin: center center;
    }
  }

  @keyframes arrowJumping {
    0%, 100% {
      padding-left: 0;
    }
    50% {
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: 480px) {
    div:first-child {
      padding: 5px;
    }
  }
}

.textNotification {
  margin-bottom: 15px;

  span {
    text-decoration: underline;
  }

  span:hover {
    cursor: pointer;
    color: $activeTextNavBar;
  }
}

.schedule {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  :last-child {
    margin: 0 auto;
  }

  label {
    margin-left: 15px;
  }

  @media only screen and (max-width: 720px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

select {
  padding: 5px 8px;
  border: 1px solid $bgColorNavBar;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f2f2f2;
  color: $colorAllText;
  text-align-last: center;

  &:focus {
    outline: none;
    border-color: $colorButton;
  }

  option:checked {
    background-color: $colorButton;
    color: $colorTextNavBar;
  }
}