@import '/src/style/elementPlaceholders';

.homePage {
  display: block;
  padding: 20px;

  p {
    font-size: 22px;
    margin-bottom: 7px;
    text-indent: 1em;
  }

  .btn {
    @extend %button;
    margin: 20px auto 0 auto;
    font-size: 22px;
  }
}

.title {
  margin-bottom: 20px;
}