@import '/src/style/elementColors';

.input_field {
  width: 80px;
  margin: 0 15px 0 0;
  padding: 8px;
  font-size: 14px;
  line-height: 1.5;
  color: $colorAllText;
  background-color: #fff;
  border: 1px solid $bgColorNavBar;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none;
    border-color: $colorButton;
  }

  &::placeholder {
    color: $bgColorPage;
  }
}