@import "elementColors";
@import "elementWidth";

body, h1, h2, h3, h4, p,
ul[class], ol[class], li,
figure, figcaption, blockquote,
dl, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bgColorPage;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  color: $colorAllText;
}

.container {
  margin: 15px auto;
  padding: 0 10px;
  max-width: $containerMaxWidth;
}

.errorText {
  margin: 15px 0;
  color: $colorSecondary;
  font-weight: bold;
}

.positive svg {
  fill: green;
}

.negative svg {
  fill: red;
  transform: scale(1, -1);
}